body {
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #282828;
  color: #fff;
}

canvas {
  margin: 0 auto;
  display: block;
}

h4 {
  color: #000;
}

.jumbotron {
  background-color: #282828;
  border: 1px solid #e44c65;
}

.slice_value {
  width: 120px;
  border: 5px solid #e44c65;
  background-color: #282828;
  font-weight: 700;
}

.fa {
  color: white;
  margin-top: 20px;
}

.fa-pie-chart:hover, .fa-bar-chart:hover, .fa-line-chart:hover {
  transform: scale(1.6);
  cursor: pointer;
}

.col-md-4 {
  text-align: center;
}

.btn {
  background-color: #e44c65;
  text-shadow: 2px 1px #000;
  font-weight: 700;
}

.container button {
  margin-top: 30px;
}

.btn:hover, .btn:focus, .btn-custom {
  background-color: #282828;
  color: #fff;
  border: 2px solid #e44c65;
}

.btn-custom {
  border-color: cyan;
}

.fa-github, .fa-github:hover, .fa-github:focus { 
  color: #e44c65;
  text-decoration: none;
}

.github {
  margin-top: 50px;
}